PORT=5000
MONGO_URI=mongodb://localhost:27017/thanu
JWT_SECRET=12bf9dc60fbcdd3b802d8d8b81d3842039fe6279239f7654a2ac9c0afeef9ab5
JWT_EXPIRE=30d
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
NODE_ENV=development
